@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap');

header {
    font-style: bold;
    text-align: center;
    text-decoration: underline;
    font: roboto;
    color: purple;

}

body{
    text-align: center;
    font-family: 'rubik';
    padding: 0;

    
}

.wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(90deg rgba(2,0,.6,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100% );
}


p{
    font-size: 22px;
}

iframe{
    Border: solid 8px;
    margin: 0 auto;
    color: orange;
    border-radius: 8px;
    text-align: center;
}
 button{
    padding: 10px;
    font-size: 20px;
    border-radius: 1000000px;
    list-style-type: none;
    font-family: 'rubik';

 }
 button:hover{
     color: #ffffff;
     background: black;
     box-shadow: 0 0 10px white, 0 0 40px  white, 0 0 80px  white;
     transition-delay: 0.1s;
 }

 button1:hover{
    color: #ffbb00;
    background: #ff0000;
    box-shadow: 0 0 10px #d40d0d, 0 0 40px #d40d0d, 0 0 80px #d40d0d;
    transition-delay: 0.2s;
 }

 hr{
    box-shadow: 0 0 10px  cyan , 0 0 15px   cyan, 0 0 25px  cyan;
    color: cyan;
}
header{
    font-family: 'Philosopher', sans-serif;

}
canvas{
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: -1;
    position: fixed;
    position: fixed;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
}

section {
	padding: 0px 50px 0px;
}

img{
    Border: solid 8px;
    margin: 0 auto;
    color: #00ffd9;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px  #00ffd9 , 0 0 10px   #00ffd9, 0 0 15px  #00ffd9;
    color: #00ffd9;
    
}